<!doctype html>
<html
      lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        div{
            border: thick solid blue;
        }
        td{
            padding:7px;
        }
    </style>
</head>
<body>
    <div th:replace="~{searchAndFiltersDiv::searchAndFilterFragment}"></div>

    <h1>All Posts<span></span></h1>
<!--    <div th:replace="~{sortButton::sortingButton}"></div>-->
    <table border="1" >
        <thead>
        <tr style="background-color: grey;">
            <th>Title</th>
            <th>Excerpt</th>
            <th>Author</th>
            <th>Published At</th>
            <th>Update</th>
            <th style="color:red">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post : ${allPosts}">
            <td th:text="${post?.title ?: 'No Title'}">Title</td>
            <td>
                <a
                   th:href="@{/blogPost/{id}(id=${post.id})}"
                   th:text="${post?.excerpt}"
                ></a>
            </td>
            <td th:text="${post?.author ?: 'No Author'}">Author</td>
            <td th:text="${post?.publishedAt ?: 'No Date'}">Published At</td>
            <td>
                <a
                  th:href="@{/blogPost/updatePostForm/{id}(id=${post.id})}"
                >UpdateThispost
                </a>
            </td>
            <td>
                <a
                   th:href="@{/blogPost/deletePost/{id}(id=${post.id})}"
                >DeleteThisBlog</a>
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>